/* #region reset rule */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* #endregion reset rule */

/* #region color palette */
:root{
    --primary_color:#fff;
    --secondary_color:#6F6F6F;
    --active_link_border:#ADFF2F;

    --sidebar_bg_color:#000;
    --sidebar_icons:#A3A3A3;

    --topbar_bg_color:rgba(0,0,0,0.5);

    --bottombar_bg_color:#282828;

    --explore_bg_color:#141922;
}
/* #endregion color palette */

/* #region general rules */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h2{
    font-size: 24px;
    color:var(--primary_color);
}

h3{
    font-size: 16px;
    color: var(--primary_color);
}

h2,h3{
    font-weight: 700;
}

h4{
    font-size: 14px;
}

h5{
    font-size: 13px;
}

a{
    text-decoration: none;
}
/* #endregion general rules */

/* #region utility rules */
.flex_container{
    display: flex;
}

.fs_13{
    font-size: 13px;
}

.h_100{
    height:100%;
}

.p_color{
    color: var(--primary_color);
}
/* #endregion utility rules */



#site_main{
    height:calc(100vh - 90px);
}


/* #region sidebar */
    .sidebar{
        width: 230px;
        background-color:var(--sidebar_bg_color);
        padding: 0px 21px 0px 21px;
        flex-direction: column;
        overflow: hidden;
        transition: width 0.3s;
    }
        
    .upper_sidebar{
        flex-grow: 1;  
    }
    
    .logo{
        padding: 20px 0px 20px 0px;
    }

    .logo_mini{
        font-size: 26px;
        color: white;
        display: none;
        padding: 7px 0px 7px 0px;
    }
    
    .logo img{
        height: 40px;
        vertical-align: middle; 
        
    }
    
    .sidebar_nav{
        margin-top: 4px;
    }

    .sidebar_nav svg{
        height: 26px;
        vertical-align: middle;
        fill: var(--sidebar_icons);
    }

    .sidebar_nav>*{
        padding: 7px 0px 7px 0px;
        position: relative;
    }

    .sidebar_nav>.home span{
        color:var(--primary_color);
    }

    .active_link_border{
        height: 35px;
        width: 3px;
        position: absolute;
        left: -21px;
        top:50%;
        transform: translate(0,-50%);
        background-color: var(--active_link_border);
    }

    .sidebar_nav span,
    .create_playlist span,
    .playlists>*,
    .download,
    .explore_nav a,
    .explore_section h5,
    .playing_text div,
    .left_icons
    {
        color:var(--secondary_color);
    }



    .playlists_container h4{
        margin-top: 8px;
        padding: 15px 0px 15px 0px;
    }

    .create_playlist i{
        padding:  11px 12px 11px 12px;
        background-color: var(--sidebar_icons);
    }

    .create_playlist span{
        margin-left: 5px;
        font-size: 14px;
    }

    .playlists{
        max-height: calc(100vh - 491px);
        overflow-y:auto; /* aggiunto per quando le playlist sono cosi tante da uscire dal contenitore */
    }

    .playlists>*{
        margin-top: 22px;
    }

        

    .download{
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid var(--sidebar_icons);
    }

    .download svg{
        fill: var(--sidebar_icons);
        height: 16px;
        vertical-align: middle;
    }

    .user_profile{
        padding: 7px 0px 7px 0px;
        margin-top: 7px;
    }

    .user_profile svg{
        vertical-align: middle;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--sidebar_icons);
    }        

    .user_profile span{
        font-size: 14px;
    }
/* #endregion sidebar */

/* #region explore_section */
    .explore_section{
        width: calc(100% - 230px);
        background-color: var(--explore_bg_color);
        overflow-y: auto;
    }


    .top_bar{
        position: sticky;
        height:90px;
        top:0;
        left:0;
        background-color: var(--topbar_bg_color);
        z-index: 10;
        transition: height 2s;
    }

    .top_bar a{
        display: inline-block;
        padding: 11px 41px 11px 41px;
        border: 1px solid var(--primary_color);
        border-radius: 32px;
        position: absolute;
        top:50%;
        right: 20px;
        transform: translate(0, -50%);
        transition: font-size 2s , padding 2s, transform 0.3s, top 0.3s;
    }
        
    
    .explore_nav{
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 9px;
        padding: 23px 0 23px 0;
        column-gap: 25px;
    }    

    .explore_nav>div{
        position: relative;
    }

    .underline{
        height: 3px;
        width: 35px;
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color:var(--active_link_border);

    }

    .explore_section section{
        padding: 0 20px 0px 20px;
    }

    .img_cover{
        position: relative;
    }

    .hover_play{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 80px;
        display: none;
    }

    .img_cover:hover .hover_play{
        display: block;
    }

    .img_cover:hover img{
        filter: brightness(0.50);
    }

    .popular_artists .img_cover img{
        border-radius: 50%;
    }
    
    .description{
        margin: 28px 0 28px 0;
    }

    .cover_container{
        column-gap: 1%;
        flex-wrap: wrap;
    }

    .cover{
        width: calc(100% * 1/6 - 1% + 1%/6);
    }

    .cover img{
        width: 100%;
        object-fit: cover;
        vertical-align: middle; /* serve a togliere lo spazio che si crea tra container e img */
    }

    .cover_text{
        margin-top: 16px;
        text-align: center;
        margin-bottom: 5px;
    }

    .explore_section h5{
        margin-top: 5px;
    }

/* #endregion explore_section */

/* #region bottom_bar */
    .bottom_bar{
        height: 90px;
        background-color: var(--bottombar_bg_color);
        padding: 0 11px 0 11px;
    }

    .bottom_bar>*{
        flex:1;
    }

    .bottom_left{
        align-items: center;
        column-gap: 13px;
        
    }

    .playing_img{
        width: 42px;
    }

    .playing_img img{
        width: 100%;
        object-fit: cover;
        vertical-align: middle;
    }

    .playing_text h5{
        font-weight: 700;
    }

    .playing_text div{
        font-size: 12px;
    }

    .left_icons{
        column-gap:13px;
    }
    
    .bottom_center{
        flex-grow: 2;
    }

    .player_icons{
        justify-content: center;
        align-items: center;
        column-gap: 32px;
        height: 50%;
    }

    .player_icons>.fa-play-circle{
        font-size: 30px;
    }

    .player_icons>.fa-angle-double-left,
    .player_icons>.fa-angle-double-right{
        font-size:20px;
    }

    .time_bar_container{
        justify-content: center;
        align-items: center;
        height: 50%;
        padding-bottom: 15px;
        column-gap: 2%;
    }

    .time_bar{
        width: 60%;
        height:4px;
        background-color: var(--secondary_color);
        border-radius: 4px;
        position: relative;
        
    }

    .time{
        width: 20%;
        background-color: var(--primary_color);
        border-radius: 4px;
    }

    .drag{
        width: 20px;
        height: 20px;
        background-color: var(--primary_color);
        border-radius: 50%;
        position: absolute;
        top:-8px;
        left: 19.8%;
        display: none;
    }
    


    .bottom_right{
        align-items: center;
        column-gap: 20px;
        justify-content: flex-end;
    }

    .volume_bar{
        width: 120px;
        height: 4px;
        background-color: var(--secondary_color);
        border-radius: 4px;
        position: relative;
    }

    .volume{
        width: 50%;
        background-color: var(--primary_color);
        border-radius: 4px;
    }

    .drag_volume{
        width: 20px;
        height: 20px;
        background-color: var(--primary_color);
        border-radius: 50%;
        position: absolute;
        top:-8px;
        left: 49.7%;
        display: none;
    }
/* #endregion bottom_bar */


/* #region on hover effects */
.explore_nav a:hover,
.sidebar span:hover,
.playlists div:hover,
.left_icons i:hover
{
    color: var(--primary_color);
}

.sidebar_nav span:hover ~ svg{
    fill: var(--primary_color);
}

.playing_text div:hover{
    color: var(--primary_color);
    text-decoration: underline;
}

.top_bar a:hover{
    transform: scale(1.1);
    top:30%;
    transition: transform 0.3s, top 0.3s;
}

.player_icons .fa-play-circle:hover{
    transform: scale(1.1);
}

.time_bar_container:hover .time{
    background-color: var(--active_link_border);
}

.time_bar_container:hover .drag{
    display: block;
}

.volume_bar:hover .volume{
    background-color: var(--active_link_border);
}

.volume_bar:hover .drag_volume{
    display: block;
}
/* #endregion on hover effects */
/* ------------------------------------------------------------------------------------------------- */

/* #region media query desktop first*/
@media screen and (max-width:1440px){
    .cover_container h3{
        font-size: 14px;
    }

    .cover_container h5{
        font-size: 12px;
    }
}

@media screen and (max-width:1200px){

    .cover_container{
        row-gap: 10px;
    }

    .cover{
        width: calc(100% * 1/4 - 1% + 1%/4);
    }
}

@media screen and (max-width:768px){
    .sidebar{
        width: 180px;
    }

    .explore_section{
        width: calc(100% - 180px);
    }
    

    .cover{
        width: calc(100% * 1/3 - 1% + 1%/3);
    }

    .volume_bar{
        display: none;
    }
    
    .player_icons{
        column-gap: 20px;
    }

    .left_icons{
        flex-direction: column;

    }

    .cover_container h3{
        font-size: 12px;
    }

    .cover_container h5{
        font-size: 11px;
    }

    .description h2{
        font-size: 18px;
    }
}

@media screen and (max-width:568px){
    .playlists_container, 
    .sidebar span,
    .active_link_border{
        display:none;
    }

    .download{
        border: none;
    }

    .download svg{
        margin-left: 3px;
    }

    .logo{
        display: none;
    }

    .logo_mini{
        display: block;
    }

    .sidebar_nav{
        margin-top: 0px;
    }

    .sidebar{
        padding: 0px 10px 0px 10px;
        width: 45px;
    }

    .explore_section{
        width: calc(100% - 45px);
    }
}

@media screen and (max-width:475px){
    .bottom_right,
    .left_icons,
    .playing_img{
    display:none;
    }

    .bottom_bar{
        flex-direction: column-reverse;
    }

    .playing_text{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: baseline;
        column-gap: 10px;
    }

    .time_bar_container{
        padding-bottom:0 ;
    }

    .cover{
        width: calc(100% * 1/2 - 5% + 5%/2);
    }

    .cover_container h3{
        font-size: 10px;
    }

    .cover_container h5{
        font-size: 9px;
    }

    .description h2{
        font-size: 16px;
    }

}

@media screen and (max-height:568px){
    .top_bar{
        height:0;
        transition: height 2s;
    }

    .top_bar a{
        display: block;
        font-size: 0;
        padding: 0;
        transition: font-size 2s , padding 2s ;
        animation: border 0.5s linear 1.5s infinite;
    }

    @keyframes border {
        0%{
            border:none;
        }
        100%{
            border:none;
        }
    
}
}
/* #endregion media query desktop first*/
