/* #region reset rule */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* #endregion reset rule */

/* #region color palette */
:root{
    /* #region sidebar colors */
    --bg_color_sidebar:#000;
    --color_icons_sidebar:#A3A3A3;
    --color_active_icons_sidebar:#D2D2D2;
    --color_links_sidebar:#696969;
    --color_active_links_sidebar:#F8F9F8;
    --color_marked_border_links_sidebar:#ADFF2F;
    --color_text_sidebar:#FFF;
    /* #endregion sidebar colors */

    /* #region topbar colors */
    --bg_color_topbar:rgba(0,0,0,0.5);
    --btn_border_color_topbar:#C1C2C4;
    --btn_text_color_topbar:#F9F9FA;
    /* #endregion topbar colors */

    /* #region bottombar colors */
    --bg_color_bottombar:#282828;
    --color_player_icons_bottombar:#FFF;
    --color_interface_icons_bottombar:#FFF; /* si rifersce alle 3 icone sulla destra nella barra inferiore (visualizzazione,schermo,volume) */
    --bg_color_time_bar_bottombar:#5A5A5A;
    --color_time_bar_bottombar:#C1C1C1;
    --bg_color_volume_bar_bottombar:#5A5A5A;
    --color_volume_bar_bottombar:#C1C1C1;
    --color_like_save_icons_bottombar:#6F6F6F;
    --color_singer_name_bottombar:#FFF;
    --color_song_name_bottombar:#6F6F6F;
    --color_text_time_bottombar:#FFF;
    /* #endregion bottombar colors */

    /* #region explore_section colors */
    --bg_color_explore:#141922;
    --color_links_navbar_explore:#707378;
    --color_marked_border_links_explore:#ADFF2F;
    --color_text_genre_explore:#FFF;
    --color_playlist_title_explore:#FFF;
    --color_playlist_subtitle_explore:#787A7F;
    /* #endregion main area colors */
}
/* #endregion color palette */

/* #region general rules */
body{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 24px;
    font-weight: 700;
}

h3{
    font-size: 16px;
    font-weight: 700;
}

h4{
    font-size: 14px;
    font-weight: 600;
}

h5{
    font-size: 13px;
    font-weight: 600;
}

a{
    text-decoration: none;
}
/* #endregion general rules */

/* #region utility rules */
.flex_container{
    display: flex;
}
/* #endregion utility rules */

/* #region 1^ site_main */
    /* #region 2^ site_main general rules */
    #site_main{
        width: 100%;
        height:calc(100vh - 90px);
    }
    /* #endregion site_main general rules */

    /* #region 2^ sidebar */
    .sidebar{
        width: 230px;
        height: 100%;
        background-color:var(--bg_color_sidebar);
        padding: 0px 21px 0px 21px;
        flex-direction: column;
        overflow: hidden;
    }
        /* #region upper_sidebar */
        .upper_sidebar{
            flex-grow: 1;  /* inquesto modo la parte superiore aggiunge alla sua altezza (data dal suo contenuto) anche tutto lo spazio vuoto del flex_container*/
        }
            /* #region sidebar logo */
            .logo{
                padding: 20px 0px 20px 0px;
            }

            .logo_mini{
                font-size: 26px;
                color: white;
                display: none;
                padding: 7px 0px 7px 0px;
            }
            
            .logo img{
                height: 40px;
                vertical-align: middle; /* Serve per togliere il padding in basso che si crea tra img e il suo contenitore */
                
            }
            /* #endregion sidebar logo */

            /* #region sidebar_nav */
            .sidebar_nav{
                margin-top: 4px;
            }

            .sidebar_nav svg{
                height: 26px;
                vertical-align: middle;
                fill: var(--color_icons_sidebar);
            }

            .sidebar_nav>*{
                padding: 7px 0px 7px 0px;
                position: relative;
            }

            .active_link_border{
                height: 35px;
                width: 3px;
                position: absolute;
                left: -21px;
                top:50%;
                transform: translate(0,-50%);
                background-color: var(--color_marked_border_links_sidebar);
            }

            .sidebar_nav span{
                color:var(--color_links_sidebar);
                font-size: 13px;
                font-weight: 600;
            }
            /* #endregion sidebar_nav */

            /* #region playlists_container */

            .playlists_container h4{
                color: var(--color_text_sidebar);
                margin-top: 8px;
                padding: 15px 0px 15px 0px;
            }

            .create_playlist i{
                padding:  11px 12px 11px 12px;
                background-color: var(--color_icons_sidebar);
            }

            .create_playlist span{
                color: var(--color_links_sidebar);
                font-weight: 600;
                margin-left: 5px;
                font-size: 14px;
            }

            .playlists{
                max-height: calc(100vh - 491px);
                overflow-y:auto; /* aggiunto per quando le playlist sono cosi tante da uscire dal contenitore */
            }

            .playlists>*{
                font-size: 13px;
                margin-top: 22px;
                color: var(--color_links_sidebar);
                font-weight: 600;
            }
            /* #endregion playlists_container */
        /* #endregion upper_sidebar */

        /* #region lower_sidebar */
        .download{
            font-size: 13px;
            padding: 10px 0px 10px 0px;
            border-bottom: 1px solid var(--color_icons_sidebar);
        }

        .download svg{
            fill: var(--color_icons_sidebar);
            height: 16px;
            vertical-align: middle;
        }

        .download span{
            font-weight: 600;
            color: var(--color_links_sidebar);
        }

        .user_profile{
            padding: 7px 0px 7px 0px;
            margin-top: 7px;
        }

        .user_profile svg{
            vertical-align: middle;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: var(--color_icons_sidebar);
        }        

        .user_profile span{
            font-size: 14px;
            font-weight: 600;
            color: var(--color_text_sidebar);
        }
        /* #endregion lower_sidebar */
    /* #endregion sidebar */

    /* #region 2^ explore_section */
    .explore_section{
        width: calc(100% - 230px);
        background-color: var(--bg_color_explore);
        overflow-y: auto;
    }

        /* #region topbar */
        .top_bar{
            position: sticky;
            height:90px;
            top:0;
            left:0;
            background-color: var(--bg_color_topbar);
        }

        .top_bar a{
            display: inline-block;
            color: var(--btn_text_color_topbar);
            font-size: 13px;
            padding: 11px 41px 11px 41px;
            border: 1px solid var(--btn_border_color_topbar);
            border-radius: 32px;
            position: absolute;
            top:50%;
            right: 20px;
            transform: translate(0, -50%);
        }
        /* #endregion topbar */
        
        /* #region explore_nav */
        .explore_nav{
            justify-content: center;
            flex-wrap: wrap;
            padding: 23px 0 23px 0;
            column-gap: 25px;
        }

        .explore_nav div{
            font-size: 13px;
            font-weight: 600;
        }

        .explore_nav a{
            color: var(--color_links_navbar_explore);
        }
        /* #endregion explore_nav */

        /* #region explore_section sections */
        .explore_section section{
            padding: 0 20px 0px 20px;
        }

        .popular_artists .img_cover img{
            border-radius: 50%;
        }
        
        .description{
            margin: 28px 0 28px 0;
        }

        .explore_section h2 {
            
            color:var(--color_text_genre_explore);

        }

        .cover_container{
            column-gap: 1%;
            flex-wrap: wrap;
        }

        .cover{
            width: calc(100% * 1/6 - 1% + 1%/6);
        }

        .cover img{
            width: 100%;
            object-fit: cover;
            vertical-align: middle; /* serve a togliere lo spazio che si crea tra container e img */
        }

        .cover_text{
            margin-top: 16px;
            text-align: center;
            margin-bottom: 5px;
        }

        .explore_section h5{
            margin-top: 5px;
            color: var(--color_playlist_subtitle_explore);
        }

        .cover_text h3{
            color: var(--color_playlist_title_explore);
        }
        /* #endregion explore section sections */
    /* #endregion explore_section */

/* #endregion 1^ site_main */

/* #region bottom_bar */
.bottom_bar{
    height: 90px;
    background-color: var(--bg_color_bottombar);
    padding: 0 11px 0 11px;
}

.bottom_bar>*{
    flex:1;
}

    /* #region bottom_left */
    .bottom_left{
        align-items: center;
        column-gap: 13px;
        
    }

    .playing_img{
        width: 42px;
    }

    .playing_img img{
        width: 100%;
        object-fit: cover;
        vertical-align: middle;
    }

    .playing_text h5{
        font-weight: 700;
        color: var(--color_singer_name_bottombar);
    }

    .playing_text div{
        font-size: 12px;
        font-weight: 600;
        color: var(--color_song_name_bottombar);
    }

    .left_icons{
        column-gap:13px;
    }

    .heart, .folder{
        color: var(--color_like_save_icons_bottombar);
    }

    /* #endregion bottom_left */

    /* #region bottom_center */
    .bottom_center{
        flex-grow: 2;
    }

    .player_icons{
        justify-content: center;
        align-items: center;
        column-gap: 32px;
        height: 50%;
        color: var(--color_player_icons_bottombar);
    }

    .player_icons>.fa-play-circle{
        font-size: 30px;
    }

    .player_icons>.fa-angle-double-left,
    .player_icons>.fa-angle-double-right{
        font-size:20px;
    }

    .time_bar_container{
        justify-content: center;
        align-items: center;
        height: 50%;
        color: var(--color_text_time_bottombar);
        font-size: 13px;
        padding-bottom: 15px;
        column-gap: 2%;
    }

    .time_bar{
        width: 60%;
        height:4px;
        background-color: var(--bg_color_time_bar_bottombar);
        border-radius: 4px;
    }

    .time{
        height: 100%;
        width: 20%;
        background-color: var(--color_time_bar_bottombar);
        border-radius: 4px;
    }
    /* #endregion bottom_center */


    .bottom_right{
        height: 100%;
        align-items: center;
        column-gap: 20px;
        justify-content: flex-end;
        color: var(--color_interface_icons_bottombar);
    }

    .volume_bar{
        width: 120px;
        height: 4px;
        background-color: var(--bg_color_volume_bar_bottombar);
        border-radius: 4px;
    }

    .volume{
        height: 100%;
        width: 50%;
        background-color: var(--color_volume_bar_bottombar);
        border-radius: 4px;
    }
/* #endregion bottom_bar */

/* ------------------------------------------------------------------------------------------------- */

/* #region media query desktop first*/
@media screen and (max-width:1440px){
    .cover_container h3{
        font-size: 14px;
    }

    .cover_container h5{
        font-size: 12px;
    }
}

@media screen and (max-width:1200px){

    .cover_container{
        row-gap: 10px;
    }

    .cover{
        width: calc(100% * 1/4 - 1% + 1%/4);
    }
}

@media screen and (max-width:768px){
    .sidebar{
        width: 180px;
    }

    .explore_section{
        width: calc(100% - 180px);
    }
    

    .cover{
        width: calc(100% * 1/3 - 1% + 1%/3);
    }

    .volume_bar{
        display: none;
    }
    
    .player_icons{
        column-gap: 20px;
    }

    .left_icons{
        flex-direction: column;

    }

    .cover_container h3{
        font-size: 12px;
    }

    .cover_container h5{
        font-size: 11px;
    }

    .description h2{
        font-size: 18px;
    }
}

@media screen and (max-width:568px){
    .playlists_container, 
    .sidebar span,
    .active_link_border{
        display:none;
    }

    .download{
        border: none;
    }

    .download svg{
        margin-left: 3px;
    }

    .logo{
        display: none;
    }

    .logo_mini{
        display: block;
    }

    .sidebar_nav{
        margin-top: 0px;
    }

    .sidebar{
        padding: 0px 10px 0px 10px;
        width: 45px;
    }

    .explore_section{
        width: calc(100% - 45px);
    }
}

@media screen and (max-width:475px){
    .bottom_right,
    .left_icons,
    .playing_img{
    display:none;
    }

    .bottom_bar{
        flex-direction: column-reverse;
    }

    .playing_text{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        column-gap: 10px;
    }

    .time_bar_container{
        padding-bottom:0 ;
    }

    .cover{
        width: calc(100% * 1/2 - 5% + 5%/2);
    }

    .cover_container h3{
        font-size: 10px;
    }

    .cover_container h5{
        font-size: 9px;
    }

    .description h2{
        font-size: 16px;
    }



}
/* #endregion media query desktop first*/
