/* #region reset rule */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* #endregion reset rule */

/* #region color palette */
:root{
    /* #region sidebar colors */
    --bg_color_sidebar:#000;
    --color_icons_sidebar:#A3A3A3;
    --color_active_icons_sidebar:#D2D2D2;
    --color_links_sidebar:#696969;
    --color_active_links_sidebar:#F8F9F8;
    --color_marked_border_links_sidebar:#ADFF2F;
    --color_text_sidebar:#FFF;
    /* #endregion sidebar colors */

    /* #region topbar colors */
    --bg_color_topbar:#080B12;
    --btn_border_color_topbar:#C1C2C4;
    --btn_text_color_topbar:#F9F9FA;
    /* #endregion topbar colors */

    /* #region bottombar colors */
    --bg_color_bottombar:#282828;
    --color_player_icons_bottombar:#FFF;
    --color_interface_icons_bottombar:#FFF; /* si rifersce alle 3 icone sulla destra nella barra inferiore (visualizzazione,schermo,volume) */
    --bg_color_time_bar_bottombar:#5A5A5A;
    --color_time_bar_bottombar:#C1C1C1;
    --bg_color_volume_bar_bottombar:#5A5A5A;
    --color_volume_bar_bottombar:#C1C1C1;
    --color_like_save_icons_bottombar:#6F6F6F;
    --color_singer_name_bottombar:#FFF;
    --color_song_name_bottombar:#6F6F6F;
    --color_text_time_bottombar:#FFF;
    /* #endregion bottombar colors */

    /* #region main area colors */
    --bg_color_mainarea:#141922;
    --color_links_navbar_mainarea:#707378;
    --color_marked_border_links_mainarea:#ADFF2F;
    --color_text_genre:#FFF;
    --color_playlist_title:#FFF;
    --color_playlist_subtitle:#787A7F;
    /* #endregion main area colors */
}
/* #endregion color palette */

/* #region general rules */
body{
    font-family: 'Montserrat', sans-serif;
}

h4{
    font-size: 14px;
    font-weight: 600;
}
/* #endregion general rules */

/* #region utility rules */
.flex_container{
    display: flex;
}
/* #endregion utility rules */

/* #region site_main */
    /* #region site_main general rules */
    #site_main{
        width: 100%;
        height:calc(100vh - 90px);
        border:2px solid black
    }
    /* #endregion site_main general rules */

    /* #region sidebar */
    .sidebar{
        width: 230px;
        height: 100%;
        background-color:var(--bg_color_sidebar);
        padding: 0px 21px 0px 21px;
        flex-direction: column;
    }
        /* #region upper_sidebar */
        .upper_sidebar{
            flex-grow: 1;  /* inquesto modo la parte superiore aggiunge alla sua altezza data dal suo contenuto anche tutto lo spazio vuoto del flex_container*/
        }
            /* #region sidebar logo */
            .logo{
                padding: 20px 0px 20px 0px;
            }
            
            .logo img{
                height: 40px;
                vertical-align: middle; /* Serve per togliere il padding in basso che si crea tra img e il suo contenitore */
                
            }
            /* #endregion sidebar logo */

            /* #region sidebar_nav */
            .sidebar_nav{
                margin-top: 4px;
            }

            .sidebar_nav svg{
                height: 26px;
                vertical-align: middle;
                fill: var(--color_icons_sidebar);
            }

            .sidebar_nav>*{
                padding: 7px 0px 7px 0px;
            }

            .sidebar_nav span{
                color:var(--color_links_sidebar);
                font-size: 13px;
                font-weight: 600;
            }
            /* #endregion sidebar_nav */

            /* #region playlists_container */
            .playlists_container h4{
                color: var(--color_text_sidebar);
                margin-top: 8px;
                padding: 15px 0px 15px 0px;
            }

            .create_playlist i{
                padding:  11px 12px 11px 12px;
                background-color: var(--color_icons_sidebar);
            }

            .create_playlist span{
                color: var(--color_links_sidebar);
                font-weight: 600;
                margin-left: 5px;
                font-size: 14px;
            }

            .playlists>*{
                font-size: 13px;
                margin-top: 22px;
                color: var(--color_links_sidebar);
                font-weight: 600;
            }
            /* #endregion playlists_container */
        /* #endregion upper_sidebar */

        /* #region lower_sidebar */
        .download{
            font-size: 13px;
            padding: 10px 0px 10px 0px;
            border-bottom: 1px solid var(--color_icons_sidebar);
        }

        .download svg{
            fill: var(--color_icons_sidebar);
            height: 16px;
            vertical-align: middle;
        }

        .download span{
            font-weight: 600;
            color: var(--color_links_sidebar);
        }

        .user_profile{
            padding: 7px 0px 7px 0px;
            margin-top: 7px;
        }

        .user_profile svg{
            vertical-align: middle;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: var(--color_icons_sidebar);
        }        

        .user_profile span{
            font-size: 14px;
            font-weight: 600;
            color: var(--color_text_sidebar);
        }
        /* #endregion lower_sidebar */
    /* #endregion sidebar */
/* #endregion site_main */
